* {
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif,serif;
}
.hero {
  height: 90vh;
  background-color: #1f2937;
  width: 100%;
}
.header {
  display: flex;
  justify-content: center;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    flex: 1;
    justify-content:flex-start;
    gap:10px;
    list-style-type: none;
}
